<!DOCTYPE html>
<html>
<head>
    <title>AI Diet Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Diet Planning System Using BMI and Health Conditions</h1>

<form method="POST">
    <input type="number" name="weight" placeholder="Weight (kg)" required><br><br>
    <input type="number" name="height" placeholder="Height (cm)" required><br><br>
    <input type="number" name="exercise" placeholder="Exercise hours/day" required><br><br>

    <select name="disease">
    <option value="None">No Disease</option>
    <option>Diabetes</option>
    <option>Hypertension</option>
    <option>Obesity</option>
    <option>Heart Disease</option>
    <option>Anemia</option>
    <option>Kidney Disease</option>
    <option>Thyroid</option>
    <option>Gastritis</option>
    <option>PCOS</option>
    <option>Fatty Liver</option>
</select>
<br><br>

    <button type="submit">Get Diet Plan</button>
</form>

{% if bmi %}
<hr>
<h3>Your BMI: {{ bmi }}</h3>
<h3>Diet Goal (ML Predicted): {{ diet }}</h3>

<h3>Recommended Foods:</h3>
<ul>
{% for f in foods %}
<li>{{ f }}</li>
{% endfor %}
</ul>

{% if allowed %}
<h3>Allowed:</h3>
<ul>
{% for a in allowed %}
<li>{{ a }}</li>
{% endfor %}
</ul>
{% endif %}

{% if avoid %}
<h3>Avoid:</h3>
<ul>
{% for v in avoid %}
<li>{{ v }}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}

</body>
</html>
